html { display: flex; justify-content: center; }
html { align-items: center; height: 100%; }
html { font: 16pt/1.5 sans-serif; }
body { max-width: 36rem; margin: 1rem 1.5rem; }
body > * { margin: 1.5rem 0; }
h1 { font: bold 1.2rem/1.5rem sans-serif; }
pre { font: .8rem/1.5rem monospace; }
pre { background: rgba(0,0,128,.05); padding: .75rem 1.5rem; }
